{
  "linters": {
    "*.{ts,tsx}": ["prettier --config .prettierrc --write src/*.{ts,tsx}", "tslint -p ./tsconfig.json -c ./tslint.json", "git add"],
    "package.json": ["sort-package-json", "git add"]
  },
  "ignore": ["yarn.lock", "node_modules/**/*"]
}